.header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: rgb(87, 181, 87);
}
.icon{
    grid-area: 1/1/2/2;
    width: 200px;
    border-radius: 40%;
    
}
.title{
    grid-area: 1/2/2/3;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: rgb(188, 254, 56);
    
}
.navBtn{
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.navBtn.active{
    background-color: rgb(138, 247, 138);
}
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    background-color: rgb(243, 243, 183);
}
.tella-smile{
    grid-area: 1/1/2/2;
    width: 100%;
}
.about{
    grid-area: 1/2/2/3;
    font-size: 20px;
    font-weight: 800;
    margin: 20px;
    line-height: 4;

}
.contact{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(243, 243, 183);
}
.map{
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
 
}
.contact-info{
    margin: 5px;
}
.contact-info > p{
    line-height: 5;
    font-weight: 800;
}
.footer{
    background-color: rgb(87, 181, 87);
    width: 100%;
    height: 10vh;
    display: grid;
    
}
.gitshoutout{
    text-decoration: none;
    justify-self: start;
    align-self: end;
    color: lightgray;
}