/* *{
    background:url(./restaurant.jpg);
    background-repeat: no-repeat;
} */
.navbar{
    display: flex;
   
}

.icon{
    left: 0;
}
.navUL{
    
}
.active{
    /* this is the active css for nav buttons */
}